@import 'variables.scss';
@import 'dashboard.scss';
@import 'bootstrap.scss';
@import 'tables.scss';
@import 'nav.scss';
@import 'sidenav.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #ebebeb;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul {
    padding: 0;
  }
  
  article {
    margin-top: $nav-height;
    margin-left: $sidenav-width;
    &.sidenav-hide {
        margin-left: $sidenav-small-width;
    }
  }
  
  .tabcontent {
    display: none;
  }
  .active {
    display: block;
  }
  
  .tab {
    padding: 0;
    li {
      display: inline-block;
    }
  }
  
  .center {
    text-align: center;
  }

*, *::before, *::after {
    box-sizing: border-box;
}


